In [1]:
import pandas as pd
import sklearn
from sklearn.model_selection import train_test_split

In [7]:
train = pd.read_csv(r'D:\NationalSecret\IE105\data\train.csv')
test = pd.read_csv(r'D:\NationalSecret\IE105\data\test.csv')
validate = pd.read_csv(r'D:\NationalSecret\IE105\data\validate.csv')

In [9]:
train.Label.value_counts()

Label
2    7583
1    5922
0    3063
Name: count, dtype: int64

In [10]:
test.Label.value_counts()

Label
2    2524
1    1986
0    1013
Name: count, dtype: int64

In [11]:
train = train.drop(columns=['ID', 'text_label'])
test = test.drop(columns=['ID', 'text_label'])
validate = validate.drop(columns=['ID', 'text_label'])
train

                                                 Payload  Label
0      1" ) and row ( 6237,7469 ) > ( select count ( ...      2
1      <object classid="clsid:02BF25D5-8C17-4B23-BC80...      1
2      UNION ALL SELECT 'INJ'||'ECT'||'XXX',2,3,4,5,6...      2
3      1' ( select ( case when ( 5451 = 5451 ) then r...      2
4       <hr draggable="true" ondrag="alert(1)">test</hr>      1
...                                                  ...    ...
16563  -9569%' ) ) union all select 8405,8405,8405,84...      2
16564  <track id=x tabindex=1 onbeforeactivate=alert(...      1
16565  <a href="javascript:void(0)" onmouseover=&NewL...      1
16566  1" ) ) and 3202 = like ( 'abcdefg',upper ( hex...      2
16567                  Where's the mindfulness workshop?      0

[16568 rows x 2 columns]

##### ***Logistic regression with OVR***

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression


import warnings 

warnings.filterwarnings("ignore")

In [30]:
vectorizer = TfidfVectorizer()

X_train = vectorizer.fit_transform(train['Payload'])
X_test = vectorizer.transform(test['Payload'])

y_train = train['Label']
y_test = test['Label']

In [31]:
model = LogisticRegression(multi_class='multinomial', solver='lbfgs', max_iter=1000, random_state=42)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.99      0.93      0.96      1013
           1       1.00      0.99      0.99      1986
           2       0.96      1.00      0.98      2524

    accuracy                           0.98      5523
   macro avg       0.98      0.97      0.98      5523
weighted avg       0.98      0.98      0.98      5523

In [35]:
import joblib

joblib.dump(model, 'results/logistic_regression_model.pkl')
joblib.dump(vectorizer, 'results/lr_vectorizer.pkl')

['results/lr_vectorizer.pkl']