In [1]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
data = pd.read_csv(r'D:\NationalSecret\IE105\data\all_ver2.csv')
data

                                                 Payload  Label
0       id=2&nombre=Vino+Rioja&precio=39&cantidad=72&...      0
1      <login><username>john_doe</username><password>...      0
2       modo=registro&login=aronstam&password=373406N...      0
3      modo=entrar&login=delila&pwd=ipe$cacuana&remem...      0
4      <login><username>john_doe</username><password>...      0
...                                                  ...    ...
66011  modo=registro&login=kimbroug&password=3m6noja4...      0
66012          <tbody onpointermove=alert(1)>XSS</tbody>      1
66013  <order><item>Phone</item><price>500</price></o...      0
66014  <DIV STYLE="background-image: url(javascript:a...      1
66015  <style>:target {color: red;}</style><figure id...      1

[66016 rows x 2 columns]

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer

In [6]:
vectorizer = TfidfVectorizer()
X = vectorizer.fit_transform(data['Payload'])
y = data['Label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [7]:
model = svm.SVC(kernel='linear', C=1.0, random_state=42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

[[5428    0    2    0    0]
 [  14 3710    2    0    1]
 [  34    2 2932    0    1]
 [   0    0    0  981    0]
 [   2    1    5    0   89]]
              precision    recall  f1-score   support

           0       0.99      1.00      1.00      5430
           1       1.00      1.00      1.00      3727
           2       1.00      0.99      0.99      2969
           3       1.00      1.00      1.00       981
           4       0.98      0.92      0.95        97

    accuracy                           1.00     13204
   macro avg       0.99      0.98      0.99     13204
weighted avg       1.00      1.00      1.00     13204

In [8]:
import joblib 

joblib.dump(model, 'results/svm_model.pkl')

['results/svm_model.pkl']